<div class="header">
  <div class="header-nav-actions">
    <div class="left-column">
      <app-psb-logo></app-psb-logo>
      <nav class="header-nav">
        <a href="" class="header-nav-item">Кредиты</a>
        <a href="" class="header-nav-item">Карты</a>
        <a href="" class="header-nav-item">Вклады</a>
        <a href="" class="header-nav-item">Накопительные счета</a>
        <a href="" class="header-nav-item">Премиальное обслуживание</a>
        <a href="" class="header-nav-item">Инвестиции</a>
        <a href="" class="header-nav-item">...</a>
      </nav>
    </div>
    <div class="header-actions">
      <app-button variant="text" color="secondary" class="header-action">
        <div startIcon>
          <app-icon-plus-circled></app-icon-plus-circled>
        </div>
        Оформить ПДС
      </app-button>
      <app-button variant="text" color="secondary" class="header-action">
        Интернет-банк
        <div endIcon>
          <app-icon-arrow-down></app-icon-arrow-down>
        </div>
      </app-button>
    </div>
  </div>
  <div class="header-banner">
    <div class="header-breadcrumbs">Частным лицам</div>
    <h2 class="section">Потребительские кредиты</h2>
    <div class="banner-image"></div>
  </div>
</div>
