.header {
  width: 80%;
  margin: 40px auto 0;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header-nav-actions {
  display: flex;
  justify-content: space-between;
}

.left-column {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  margin-left: 20px;
}

.header-nav-item {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 300;
}

.header-actions {
  display: flex;
}

.header-action {

}

.header-banner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}

.header-breadcrumbs {
  font-size: 14px;
  opacity: 0.7;
}

.section {
  max-width: 300px;
  font-size: 40px;
}

.banner-image {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 200px;
  top: -100px;
  background-image: url('/inner-banner.png');
  background-size: cover;
}
