:host:not(:last-child) .calculator-field {
  margin-bottom: 30px;
}

.calculator-field {
  width: 100%;
}

.calculator-field__input-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calculator-field__input-label {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 11px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: .09em;
  text-transform: uppercase;
  color: #8d8da6;
}

.calculator-field__input-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  border: 1px solid #e6e6ef;
  border-radius: 12px;
}

.calculator-field__input-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.calculator-field__icon {
  width: 24px;
  height: 24px;
  color: #c7c7d9;
  cursor: pointer;
}

.calculator-field__icon-left {
  margin: 0 12px;
}

.calculator-field__icon-right {
  margin: 0 12px;
}

.calculator-field__input {
  border: none;
  outline: none;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  padding: 0;
  margin: 0;
}

.calculator-field__limits {
  margin: 5px 0 0;
  display: flex;
  justify-content: space-between;

  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: .02em;
  color: #8d8da6;
}
