@font-face {
  font-family: 'Gilroy';
  src: url('/Gilroy-SemiBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/Gilroy-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/Gilroy-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/Gilroy-Regular.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  height: 100%;
}

body,
input{
  font-family: 'Gilroy', sans-serif;
  letter-spacing: .6px;
  -webkit-font-smoothing: antialiased;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}
